<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TrackSearchServiceSoap" />
                <binding name="TrackSearchServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59069/TrackSearchService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TrackSearchServiceSoap"
                contract="SoapService.TrackSearchServiceSoap" name="TrackSearchServiceSoap" />
            <endpoint address="http://localhost:59069/TrackSearchService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TrackSearchServiceSoap1"
                contract="SoapService2.TrackSearchServiceSoap" name="TrackSearchServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>